@model PingBiao.Model.PingBiao_BiaoDuan
@{
    ViewBag.Title = "Index";
}

<h2>测试页面</h2>
<table>
    <tr>
        <th>
            标段名称
        </th>
    </tr>
    <tr>
        <td>
            @ViewBag.Test
        </td>
    </tr>
</table>
